[Desktop Entry]
Version=1.0
Name=Systray CD Player
Comment=Play Audio Cd from systray
Comment[es]=Reproduce CD Audio desde la bandeja del sistema
Exec=scdp
Terminal=false
Icon=cdrom
Type=Application
Categories=GTK;AudioVideo;
